.addList:first-child{
    height: 2px;
      transform: translate(1px, 0px) rotate(0deg);
      width: 16px;
}
.addList:nth-child(2){
    height: 16px;
      transform: translateX(-8px) rotate(0deg);
      width: 2px;
}