.box_shadow{
  box-shadow: rgb(0 0 0 /69%) 0px 26px 30px -20px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  border: 4px solid transparent;
}
.box_shadow:hover{
  padding: 0;
  border: 4px solid white;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.slick-dots li button:hover{
    opacity: 1;
    transition: opacity .2s ease 0s;
}

.slick-slider{
    margin-top: 20px;
}

  .slick-prev {
    left: -75px;
  }
  .slick-next {
    right: -75px;
  }
  button .slick-prev {
    left: 50px;
  }
  .slick-slider .slick-list {
    overflow: visible;
  }
  .slick-dots li button{
    height: 100%;
    width: 5vw;
    z-index: 1;
    /* opacity: 0; */
  }
  .slick-dots li button:before{
    font-size: 20px;
    color: rgb(245, 0, 0);
  }
  .slick-dots li.slick-active button:before{
    opacity: 100;
    color: white;
    z-index: 10;
  }